<section>
    {{#if product}}
    <h1>Esto es el product</h1>
    <h2>{{product.title}}</h2>
    <h3> USD {{product.price}}</h3>
    <h3>{{product.stock}} units</h3>
    <button>Comprar</button>
    {{else}}
    <h3>Not found product</h3>
    {{/if}}
</section>